body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.logo{
    font-family: 'Righteous', cursive;
}

.logo .highlight{
    color: #FAAF7A;
}

.Nav {
    z-index: 1000000 !important;
}

.head1,
.head2 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 5em;
}

.ppp {
    font-family: 'Gloria Hallelujah', cursive;
}

.ccc {
    background-color: #F0F9FF;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.khao {
    position: absolute;
    z-index: 999;
    top: 5vw;
    left: 25vw;
}

.cat>* {
    color: black;
    font-weight: 600;
}

.cat>*:hover {
    color: gray;
}

.cloudleft {
    position: absolute;
    left: -4vw;
    top: 2vw;
    width: 20vw;
}

.cloudright {
    position: absolute;
    left: 75vw;
    top: 10vw;
    width: 27vw;
}

.cloudsun {
    position: absolute;
    left: 75vw;
    top: 0vw;
    width: 15vw;
}

.wolf0 {
    position: absolute;
    left: 53vw;
    bottom: -3vw;
    width: 40%;
}

.grass {
    position: absolute;
    bottom: -1px;
    width: 100vw;
}

.pig1 {
    width: 13vw;
    bottom: 10vw;
    left: 45vw;
    position: absolute;
}

.pig2 {
    width: 17vw;
    bottom: 12vw;
    left: 32vw;
    position: absolute;
}

.pig3 {
    width: 21vw;
    bottom: 15vw;
    left: 15vw;
    position: absolute;
}

.ab {
    position: relative;
    width: 100vw;
    height: 100%;
    bottom: 0;
    transform: translateY(46px);
}

.cloudnsun {
    position: absolute;
    width: 250px;
    animation: floatingsun infinite 3s ease-in-out;
}